.post-container {
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	padding: 0.75rem;
	gap: 0.5rem;
	cursor: pointer;
}

.title {
	text-transform: capitalize;
	text-align: start;
}
