.post-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	background-color: white;
	box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	padding: 1.5rem;
	gap: 0.5rem;
	cursor: pointer;
}

.title {
	text-transform: capitalize;
	text-align: start;
}
