.post-detail-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border: 1px solid lightgray;
	border-radius: 1rem;
	padding: 1rem;
}

.post-header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.post-header h1 {
	text-transform: capitalize;
}

.comments {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
