.container {
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.post-list-container {
	width: 50rem;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
}

.post-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
}

.loading {
	width: 100%;
	height: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.pagination-btn {
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

@media (max-width: 768px) {
	.post-list-container {
		max-width: 100vw;
	}
}
